.content__header {
  display: none;
}

.fp__drag-and-drop {
  top: 10px;
}

.fp__drag-and-drop .hide-this {
  padding: 20px 50px;
}

.fp__drag-and-drop--top .hide-this {
  padding-left: 50px;
  padding-right: 50px;
}

.fp__flex--margin {
  top: 0;
}
.fp__branding, #branding {
  display: none;
}

.mobile-navigation {
  display: none;
}
