html {
  font-family: "Helvetica Neue", Arial, Helvetica
}

p, ul {
  font-size: 14px;
  line-height: 1.5;
  color: #666;
}

a {
  text-decoration: none;
  color: #d81e05;
}

#navigation {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1px;
  margin-top: 30px;
}

#navigation ul {
  font-weight: bold;
  font-size: 16px;
  width: 950px;
  margin: 0 auto;
}

#navigation li {
  display: inline-block;
}

#navigation li a {
  font-size: 16px;
  color: #4d4d4d;
  text-decoration: none;
  margin-right: 150px;
}

#navigation li a:hover {
  border-bottom: 3px solid #d81e05;
}

#content {
  width: 950px;
  margin: 0 auto;
}

h1 {
  color: #ccc;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 50px;
  height: 140px;
  background: url(../images/layout/red_square.jpg) right 1px no-repeat;
}

h1 span {
  display: inline-block;
  margin-top: 20px;
}

h2 {
  color: #666;
  font-size: 25px;
  padding-bottom: 10px;
  margin-bottom: 25px;
  border-bottom: 1px solid #ccc;
}

#posts li {
  clear: left;
  margin-bottom: 40px;
}
#posts div.titles {
  float: left;
}

#posts h3,
#posts h4 {
  line-height: 1.5;
  font-weight: bold;
}

#posts h3 {
  color: #4d4d4d;
  font-size: 26px;
}

#posts h4 {
  color: #999;
  font-size: 21px;
}

#posts p {
  border-left: 2px solid #d81e05;
  margin-left: 210px;
  padding-left: 10px;
}

#posts img {
  vertical-align: top;
  float: right;
  width: 100px;
}

#posts a.more,
#posts a.back {
  display: block;
  color: #999;
  font-weight: bold;
  text-decoration: none;
  margin-top: 20px;
  padding-left: 25px;
  background: url(../images/layout/bullet.jpg) left top no-repeat;
}

#posts p a.more:hover,
#posts p a.back:hover {
  color: #d81e05;
}

#posts a.back {
  margin-left: 220px;
}

#posts p.tags {
  border-left: none;
  font-size: 12px;
  padding-left: 0;
  padding-bottom: 22px;
  border-bottom: 1px solid #ccc;
  margin: 20px 0 0 225px;
}

#posts p.tags span {
  font-weight: bold;
  margin-right: 20px;
  color: #4d4d4d;
}

#posts p.tags a {
  color: #666;
  text-decoration: none;
}

#posts p.tags a:hover {
  color: #d81e05;
}

#about p {
  margin-top: 20px;
}

#experiences li {
  margin-top: 20px;
}

#experiences h3 {
  font-size: 17px;
}

#experiences h3 a {
  color: #d81e05;
  font-size: 17px;
  margin-top: 6px;
  text-decoration: none;
  display: block;
}

#experiences h3 a:hover {
  color: #ff9011;
}

#experiences h4 {
  font-size: 14px;
  margin-top: 10px;
}

#skills h3 {
  font-weight: bold;
  float: left;
  width: 200px;
  color: #4d4d4d;
  font-size: 26px;
}

#skills p,
#skills ul {
  border-left: 2px solid #d81e05;
  margin-left: 210px;
  padding-left: 10px;
}

#about ul {
  margin: 10px 0 0 10px;
  padding-left: 10px;
}

#skills li,
#about li {
  margin-left :34px;
  padding-left: 6px;
  list-style-image: url(../images/layout/bullet_small.jpg);
}
#about strong {
  font-weight: bold;
}

#skills div.chapter {
  margin-top: 20px;
}
