html {
  font-family: "Helvetica Neue", Arial, Helvetica
}

#navigation {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1px;
  margin-top: 30px;
}

#navigation ul {
  font-weight: bold;
  font-size: 16px;
  width: 950px;
  margin: 0 auto;
}

#navigation li {
  display: inline-block;
}

#navigation li a {
  font-size: 16px;
  color: #4d4d4d;
  text-decoration: none;
  margin-right: 150px;
}

#navigation li a:hover {
  border-bottom: 2px solid #d81e05;
}

#content {
  width: 950px;
  margin: 0 auto;
}

h1 {
  color: #ccc;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 50px;
  height: 140px;
  background: url(../images/layout/red_square.jpg) right 1px no-repeat;
}

h1 span {
  display: inline-block;
  margin-top: 20px;
}

h2 {
  color: #666;
  font-size: 25px;
  padding-bottom: 10px;
  margin-bottom: 25px;
  border-bottom: 1px solid #ccc;
}

#posts li {
  padding-bottom: 30px;
  margin-bottom: 30px;
}

#posts h3,
#posts h4 {
  font-weight: bold;
  float: left;
  width: 200px;
}

#posts h3 {
  color: #4d4d4d;
  font-size: 26px;
}

#posts h4 {
  clear: left;
  margin-top: 20px;
  color: #999;
  font-size: 21px;

}

#posts p {
  border-left: 2px solid #d81e05;
  color: #666;
  line-height: 22px;
  font-size: 16px;
  margin-left: 210px;
  padding-left: 10px;
}

#posts p a {
  display: block;
  color: #999;
  font-weight: bold;
  text-decoration: none;
  margin-top: 20px;
  padding-left: 25px;
  background: url(../images/layout/read_more_bullet.jpg) left top no-repeat;
}

#posts p a:hover {
  color: #d81e05;
}