<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Improving on silence - {{page.title}}</title>
		<meta name="author" content="Guillaume Hammadi" />

		<link rel="stylesheet" href="/css/reset.css" type="text/css" />
		<link rel="stylesheet" href="/css/main.css" type="text/css" />
	</head>

	<body>
		<ul id="navigation">
			<li><a href="">News</a></li>
			<li><a href="">Resume</a></li>
			<li><a href="">About</a></li>
		</ul>

		<h1>
			<span>
				I don't speak much.<br />
				Because most of the time<br />
				It would'nt improve on<br />
				Silence.
			</span>
		</h1>

		<h2>Errands of a french software developer lost in Vancouver</h2>
		{{ content }}
	</body>
</html>