---
layout: header
---

<div id="navigation">
	<ul>
		<li><a id="news_nav_link" href="/">News</a></li>
		<li><a id="experiences_nav_link" href="/experiences.html">Experiences</a></li>
		<li><a id="skills_nav_link" href="/skills.html">Tools and skills</a></li>
		<li><a id="about_nav_link" href="/about.html">About</a></li>
	</ul>
</div>

<div id="content">
	<h1>
		<a href="/">
			<span>
				La question<br />
				Ne se pose pas<br />
				Il y a trop<br />
				De vent
			</span>
		</a>
	</h1>

	{{ content }}
</div>
