---
layout: header
---

<div id="navigation">
	<ul>
		<li><a id="news_nav_link" href="/">News</a></li>
		<li><a id="experiences_nav_link" href="/experiences.html">Experiences</a></li>
		<li><a id="skills_nav_link" href="/skills.html">Tools and skills</a></li>
		<li><a id="about_nav_link" href="/about.html">About</a></li>
	</ul>
</div>

<div id="content">
	<h1>
		<span>
			I don't speak much.<br />
			Because most of the time<br />
			It would'nt improve on<br />
			Silence.
		</span>
	</h1>

	{{ content }}
</div>
